*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
#header{
    height: 9vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.back{
    padding: 10px;
    /* background-color: #ffa11a; */
}
.back img{
    width: 40px;
    height: 30px;
    /* filter: invert(100%); */
     /* Changes the color of the arrow from black to white */
    /* filter: grayscale(100%)brightness(0)invert(1);
    mix-blend-mode: multiply;
    background-color: #ffa11a; */
}
#header h3{
    color: #ffa11a;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}
nav{
    padding-left: 250px;
}
nav ul{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
nav ul li{
    padding: 0px 20px;
    list-style: none;
}
#container{
    display: grid;
    border: 3px red;
    grid-template-rows: 200px;
    grid-template-rows: 230px;

}
/* #artphoto1{
    grid-row-start: ;
    grid-row-end: ;
    grid-column-start: ;
    grid-column-end: ;
} */
.photo{
    width: 200px;
    height: 230px;
    border: 3px solid yellow;
}
#comtainer img{
    width: 180px;
    height: 200px;
    border-radius: 12px;
}