* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 {
    height: 100vh;
}

/************************************ HOME ****************************/
/******************* HEADER **************/
#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60px;
    justify-content: space-between;
    border: 1px solid salmon;
    /* box-shadow: 20px 20px 20px rgb(192, 133, 127); */
}

#header img {
    padding-left: 10px;
}

#header h3 {
    padding-top: 15px;
    color: #ffa11a;
    font-weight: 600;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.navbar li {
    list-style: none;
    padding: 10px;
}

.navbar li a {
    border-radius: 12px;
    text-decoration: none;
    font-weight: 400;
    color: #ffa11a;
    padding: 8px;
}

.navbar li a.active {
    background-color: orange;
    color: white;
}

.navbar li a:hover {
    background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03 51%, #FFB75E 100%);
    transition: 0.8s;
    background-size: 200% auto;
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
}


/******************* WELCOME **************/
#welcome {
    /* margin-top: 15px; */
    background-image: url(/images/banner2.jpg);
    height: 320px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
}

#welcome h2 {
    font-size: 30px;
    padding: 120px 0 30px 0;
    text-align: center;
    /* color: black; */
    color: rgb(91, 63, 2);
    /* color: rgb(247, 217, 175); */
}

/* welcome button */
#welcome button {
    background-image: linear-gradient(to right, #BA8B02 0%, #181818 51%, #BA8B02 100%);
    margin: 10px;
    padding: 10px 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-weight: 600;
}

#welcome button:hover {
    background-position: right center;
}



.artisttext {
    color: #ffa11a;
    padding: 40px 120px 40px 120px;
    font-size: 22px;
    height: 220px;
    font-style: italic;
    font-weight: 550;
}